# Clase 2

##### Strings (continuación)

- Al ser una secuencia ordenada de elementos esto significa que podemos usar la indexación y seccionar la cadena de carácteres.


- La indexación se realiza con corchetes [ ] luego del nombre de la variable.

                        String: H  O  L  A
                       Indices: 0  1  2  3
                Indice Reverso: 0 -3 -2 -1 
                       

- Seccionar la cadena de carácteres te permite tomar una subsección de los elementos que componen la cadena, la sintaxis es la siguiente:

                        [Start: Stop: Step]
    Donde:
          -Start: Es el indice númerico donde comenzara la sección.
          -Stop: Es el indice donde terminará la sección (no se incluye).
          -Step: Es el tamaño del salto que tomes.

In [6]:
a = 'abcdefghijk'

a[2:5:2]

'ce'

x = 'Hola mundo'


- x.split()
- ['Hola', 'Mundo']


Por defecto, el método __.split()__ divide la cadena en los espacios, sin embargo, es posible indicarle al método, en que caracter debe comenzar a dividir la cadena.

- x = 'Tengo hambre y me da mucha ladilla ir a comprar algo'
- x.split('e')

In [8]:
x = 'Tengo hambre y me da mucha ladilla ir a comprar algo'
x

'Tengo hambre y me da mucha ladilla ir a comprar algo'

In [12]:
x.split()

['Tengo',
 'hambre',
 'y',
 'me',
 'da',
 'mucha',
 'ladilla',
 'ir',
 'a',
 'comprar',
 'algo']

###### Impresión de datos (continuación)

In [19]:
my_name = 'Selene'

print('Hello\t' + my_name)

Hello	Selene

In [27]:
print('{saludo} {nombre}'.format(saludo = 'hola', nombre = 'Selene'))

hola Selene

In [33]:
print('{r} {s} {f}'.format(r = 'perro', s =  'marron', f = 'oscuro'))

perro marron oscuro

In [34]:
favorite_language = ' Python '
favorite_language

' Python '

In [38]:
favorite_language.lstrip()

'Python '

##### Lists (continuación)

In [48]:
list1 = ['selene', 'forja', 'tabita']
list2 = ['ronny', 'portillo', 'nicole']

list1 + list2

['selene', 'forja', 'tabita', 'ronny', 'portillo', 'nicole']

In [49]:
list1.append('holiii')
list1

['selene', 'forja', 'tabita', 'holiii']

In [52]:
list1.pop(1)

'forja'

In [53]:
list1

['selene', 'tabita']

In [54]:
list1.remove('selene')

In [57]:
list1

['tabita']

In [65]:
list3 = [3, 4, 1, 0, 7]

In [67]:
list3.reverse()

In [68]:
list3

[7, 0, 1, 4, 3]

In [73]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(1, 'ducati')
motorcycles

['honda', 'ducati', 'yamaha', 'suzuki']

###### Diccionarios (continuación)

los diccionarios son una secuencia no ordenada de elementos que no puede ser acomodado.

In [85]:
d = {'Selene': {'alejandro': 23, 'tabita' : 8}, 'Ronny': 26, 'Evelio': 'Es marico', 'Belkis': [1, 2, 5]}

In [86]:
d['Selene']['alejandro']

23

In [87]:
d.keys()

dict_keys(['Selene', 'Ronny', 'Evelio', 'Belkis'])

In [88]:
d.values()

dict_values([{'alejandro': 23, 'tabita': 8}, 26, 'Es marico', [1, 2, 5]])

In [89]:
d.items()

dict_items([('Selene', {'alejandro': 23, 'tabita': 8}), ('Ronny', 26), ('Evelio', 'Es marico'), ('Belkis', [1, 2, 5])])

##### Tuplas (continuación)

In [90]:
t = (1, 2, 6, 'a', 'a', 's')

In [107]:
t = (1,)
t

(1,)

In [104]:
type(t)

tuple

In [95]:
t.count('a')

2

In [98]:
t.index('s')

5

In [108]:
r = (2,)
type(r)

tuple

###### Set (continuacion)

In [110]:
myset = set()

myset.

set()

In [111]:
myset.add(1)

In [112]:
myset.add(2)

In [113]:
myset

{1, 2}

In [115]:
mylist = [1,1,1,1,1,1,1,1,1,1,5,7,34,8,4,8]

In [116]:
set(mylist)

{1, 4, 5, 7, 8, 34}

###### Otras cosas

In [119]:
edad_del_universo = 14_000

In [120]:
edad_del_universo

14000

In [123]:
#Multiples asignaciones

x, y, z = 0, 0, [1,3,6]

In [124]:
z = 9.81

- Constantes
    
    Python no tiene una manera nativa de construir constantes, no obstante, los programadores de este lenguaje usan por convención letras mayúsculas en variables para indicar que dicha variable es una constante y no cambia en lo largo de todo el código.

In [125]:
GRAVEDAD = 9.81

# If Statement

Sintaxis:
    
    
    if alguna_condicion:
        # codigo
        
        
    if alguna_condicion:
        # codigo
    else:
        # codigo


    if alguna_condicion:
        # codigo
    elif alguna_condicion:
        # codigo
    else:
        # codigo

# For loop

Para aplicar el **ciclo for** es necesario tener un iterable, es decir, un objeto sobre el cual sea posible iterar. Por ejemplo, es posible iterar sobre los caracteres de un string, de los elementos de una lista, o de los _key_ o _etiqueta_ de un diccionario.

            iterable = [1, 2, 3]

            for elemento in iterable:
                print(elemento)

In [129]:
iterable = '1917'

for a in iterable:
    print(a)

1
9
1
7

In [130]:
d

{'Selene': {'alejandro': 23, 'tabita': 8},
 'Ronny': 26,
 'Evelio': 'Es marico',
 'Belkis': [1, 2, 5]}

In [139]:
for a, b in d.items():
    print(a)
    print(b)

Selene
{'alejandro': 23, 'tabita': 8}
Ronny
26
Evelio
Es marico
Belkis
[1, 2, 5]

In [150]:
for a in range(5):
    print(a)

0
1
2
3
4

In [151]:
d

{'Selene': {'alejandro': 23, 'tabita': 8},
 'Ronny': 26,
 'Evelio': 'Es marico',
 'Belkis': [1, 2, 5]}

In [152]:
len(d)

4

In [153]:
a = 'Selene Forja'
len(a)

12

In [154]:
a = input('Hola idiota ingresa algo: ')

Hola idiota ingresa algo: hrhebgreuihgritehgrituhg

In [155]:
a

'hrhebgreuihgritehgrituhg'