# Clase 4

In [13]:
#####  *args & **kwargs

# 1.- Los *args convierten los parametros de entrada a la funcion como una tupla.
# 2.- Los **kwargs convierten los parametros de entrada a la funcion en un diccionario.

In [64]:
def myfunc(a, b):
    return sum((a, b)) * 0.05

In [65]:
myfunc(1,3)

0.2

In [66]:
def myfunc1(a, b, c = 0, d = 0):
    return sum((a, b, c, d)) * 0.05

In [68]:
myfunc1(1, 2, 3, 4)

0.5

In [72]:
def myfunc(*selene):
    print(selene)
    return sum(selene) * 0.05

In [73]:
myfunc(1, 2, 3, 4, 6, 5,7,89,4,2,5)

(1, 2, 3, 4, 6, 5, 7, 89, 4, 2, 5)

6.4

In [74]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruta' in kwargs:
        print('Mi fruta seleccionada es: {}'.format(kwargs['fruta']))
    else:
        print('No se encontro ninguna fruta')

In [75]:
myfunc(fruta = 'manzana', hotel = 'trivago')

{'fruta': 'manzana', 'hotel': 'trivago'}
Mi fruta seleccionada es: manzana

In [76]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('Me gustaria: {} {}'.format(args[0], kwargs['food']))

In [77]:
myfunc(10, 20, 30, fruit = 'naranja', food = 'huevos, aaayyy mariquito', animal = 'perro')

(10, 20, 30)
{'fruit': 'naranja', 'food': 'huevos, aaayyy mariquito', 'animal': 'perro'}
Me gustaria: 10 huevos, aaayyy mariquito

In [86]:
def myfunc(v1 = 11 , v2 = 12, v3 = 13):
    return v1 + v2 + v3

a = {'v1': 1, 'v2': 2, 'v3': 3}

myfunc(**a)

6

# map, filter y lambda

1.- al usar map y filter NO debemos ejecutar la funcion, solo llamarla.

In [94]:
def cuadrado(num):
    return num ** 2

In [98]:
numeros = [1, 2, 3, 4, 5]
for j in numeros:
    print(cuadrado(j))
    
map(cuadrado, numeros)

1
4
9
16
25

In [100]:
list(map(cuadrado, numeros))

[1, 4, 9, 16, 25]

In [102]:
for i in map(cuadrado, numeros):
    print(i)

1
4
9
16
25

In [40]:
list(map(cuadrado, numeros))

[1, 4, 9, 16, 25]

In [140]:
def selene(i):
    if len(i)%2 == 0:
        return 'PAR'
    else:
        return i[0]

In [141]:
nombres = ['Ronny', 'Selene', 'Belkis', 'Ale']

In [142]:
list(map(selene, nombres))

['R', 'PAR', 'PAR', 'A']

In [143]:
list(map(selene, nombres))

['R', 'PAR', 'PAR', 'A']

##### Filter

In [158]:
def chequeo(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [156]:
numeros = [1, 2, 3, 4, 5, 6]

In [159]:
list(filter(chequeo, numeros))

[2, 4, 6]

##### Lambda

In [160]:
def cuadrado(num):
    return num ** 2

In [161]:
cuadrado(3)

9

In [171]:
selene1 = lambda m, x, b: m*x+b

In [173]:
list(map(lambda x: x*2, [1, 2, 3]))

[2, 4, 6]

In [172]:
selene1(2, 3, 3)

9

In [57]:
cuadrado1 = lambda num: num ** 2

In [58]:
cuadrado1(3)

9

In [59]:
list(map(lambda num: num ** 2, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [178]:
list(map(lambda num: True if num % 2 == 0 else 'HOLA', [1, 2, 3, 4, 5, 6]))

['HOLA', True, 'HOLA', True, 'HOLA', True]

In [175]:
list(map(lambda x: x[::-1], nombres))

['ynnoR', 'eneleS', 'sikleB', 'elA']